In [3]:
import numpy as np 
from scipy import stats
import pandas as pd
import seaborn as sns

<font color="#bdab98" size=+1.0><b>Load and Read Dataset</b></font>

In [4]:
data = pd.read_csv('african_countries_population.csv')

display(data.info())
display(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           55 non-null     float64
 1   Country              56 non-null     object
 2   %Africa              56 non-null     object
 3   Africapopulation[4]  56 non-null     object
 4   %growth              56 non-null     object
 5   Officialfigure       56 non-null     object
 6   Officialdate         55 non-null     object
 7   Unnamed: 7           3 non-null      object
dtypes: float64(1), object(7)
memory usage: 3.6+ KB

None

,Unnamed: 0,Country,%Africa,Africapopulation[4],%growth,Officialfigure,Officialdate,Unnamed: 7
0,1.0,Nigeria,15.3%,"223,804,632",2.4%,"216,783,400",21 Mar 2022[5],NaN
1,2.0,Ethiopia,8.7%,"126,527,060",2.6%,"105,163,988",1 Jul 2022[6],NaN
2,3.0,Egypt,7.7%,"111,942,661",1.6%,"102,060,688",1 Jul 2021[7],[a]
3,4.0,DR Congo,7.0%,"102,262,809",3.3%,"95,370,000",1 Jul 2019[8],NaN
4,5.0,Tanzania,4.6%,"67,438,106",3.0%,"61,741,120",23 Aug 2022[9],NaN

<font color="#bdab98" size=+1.0><b>Identify Null Values</b></font>

In [5]:
print('There are a total {} missing values in the dataset.'.format(data.isnull().any().sum()))

There are a total 3 missing values in the dataset.

<font color="#bdab98" size=+1.0><b>Identify Duplicates</b></font>

In [6]:
print('There are {} duplicated rows in the dataset.'.format(data.duplicated().sum()))
data.drop_duplicates(inplace=True)
print('Number of rows after dropping duplicates is {}.'.format(data.shape[0]))

There are 0 duplicated rows in the dataset.
Number of rows after dropping duplicates is 56.