In [3]:
import numpy as np 
from scipy import stats
import pandas as pd
import seaborn as sns

<font color="#bdab98" size=+1.0><b>Load and Read Dataset</b></font>

In [4]:
data = pd.read_csv('african_countries_population.csv')

display(data.info())
display(data.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           55 non-null     float64
 1   Country              56 non-null     object
 2   %Africa              56 non-null     object
 3   Africapopulation[4]  56 non-null     object
 4   %growth              56 non-null     object
 5   Officialfigure       56 non-null     object
 6   Officialdate         55 non-null     object
 7   Unnamed: 7           3 non-null      object
dtypes: float64(1), object(7)
memory usage: 3.6+ KB

None

,Unnamed: 0,Country,%Africa,Africapopulation[4],%growth,Officialfigure,Officialdate,Unnamed: 7
0,1.0,Nigeria,15.3%,"223,804,632",2.4%,"216,783,400",21 Mar 2022[5],NaN
1,2.0,Ethiopia,8.7%,"126,527,060",2.6%,"105,163,988",1 Jul 2022[6],NaN
2,3.0,Egypt,7.7%,"111,942,661",1.6%,"102,060,688",1 Jul 2021[7],[a]
3,4.0,DR Congo,7.0%,"102,262,809",3.3%,"95,370,000",1 Jul 2019[8],NaN
4,5.0,Tanzania,4.6%,"67,438,106",3.0%,"61,741,120",23 Aug 2022[9],NaN

<font color="#bdab98" size=+1.0><b>Identify Null Values</b></font>

In [5]:
print('There are a total {} missing values in the dataset.'.format(data.isnull().any().sum()))

There are a total 3 missing values in the dataset.

<font color="#bdab98" size=+1.0><b>Identify Duplicates</b></font>

In [6]:
print('There are {} duplicated rows in the dataset.'.format(data.duplicated().sum()))
data.drop_duplicates(inplace=True)
print('Number of rows after dropping duplicates is {}.'.format(data.shape[0]))

There are 0 duplicated rows in the dataset.
Number of rows after dropping duplicates is 56.

<font color="#bdab98" size=+1.0><b>Basic Analysis</b></font>

In [20]:
import pandas as pd 

# read the data again for the current cell
data = "african_countries_population.csv"

# create a pandas dataframe
df = pd.read_csv(data) 

# Remove commas and convert columns to numeric
numeric_columns = ["Africapopulation[4]", "%growth"]
for col in numeric_columns:
    df[col] = df[col].str.replace(",", "").str.rstrip("%").astype(float)

# perform basic analysis on the dataframe
print("\nBasic Analysis:")
print("Total countries:", df.shape[0])
print("Average Population:", df["Africapopulation[4]"].mean())
print("Maximum Population:", df["Africapopulation[4]"].max())
print("Minimum Population:", df["Africapopulation[4]"].min())
print("Countries with population growth rate above 3%:")
print(df[df["%growth"] > 3]["Country"])

Basic Analysis:
Total countries: 56
Average Population: 52085169.35714286
Maximum Population: 1458384742.0
Minimum Population: 107660.0
Countries with population growth rate above 3%:
3     DR Congo
11      Angola
17       Niger
19        Mali
22        Chad
23     Somalia
Name: Country, dtype: object

<font color="#bdab98" size=+1.0><b>Descriptive Statistics</b></font>

In [18]:
print("\nDescriptive Statistics:")
print(df.describe())

# Countries with highest and lowest population
highest_population_country = df.loc[df["Africapopulation[4]"].idxmax()]["Country"]
lowest_population_country = df.loc[df["Africapopulation[4]"].idxmin()]["Country"]
print("\nCountry with the Highest Population:", highest_population_country)
print("Country with the Lowest Population:", lowest_population_country)

# Average growth rate
average_growth_rate = df["%growth"].mean()
print("\nAverage Population Growth Rate:", average_growth_rate)

# Countries with high growth rate
high_growth_rate_countries = df[df["%growth"] > 3]["Country"]
print("\nCountries with Population Growth Rate above 3%:")
print(high_growth_rate_countries)

Descriptive Statistics:
       Unnamed: 0  Africapopulation[4]    %growth
count   55.000000         5.600000e+01  56.000000
mean    28.018182         5.208517e+07   2.142857
std     16.051412         1.951726e+08   0.771506
min      1.000000         1.076600e+05   0.100000
25%     14.500000         2.748714e+06   1.675000
50%     28.000000         1.414265e+07   2.300000
75%     41.500000         3.395351e+07   2.625000
max     55.000000         1.458385e+09   3.800000

Country with the Highest Population: Total
Country with the Lowest Population: Seychelles

Average Population Growth Rate: 2.142857142857143

Countries with Population Growth Rate above 3%:
3     DR Congo
11      Angola
17       Niger
19        Mali
22        Chad
23     Somalia
Name: Country, dtype: object